<!-- Block for quotes, can be viewed on homepage -->
<div class="quote-block">
  <h3 class="{{font_style.cormorant.md}} {{font_color.dark}} quote">"{{excerpt.short}}"<span>- {{name.first}} {{name.last}}</span></h3>
</div>
