<!-- Lower half of footer that displays social networking links -->
<div class="footer__bottom">
  <h2 class="{{font_style.pt.md}} {{font_color.light}}">{{text}}</h2>
  <div class="footer__bottom-social-icons">
		{% include '@molecules/social-icons.twig'%}
  </div>
  <p class="{{font_style.raleway.sm}} {{font_color.light}}">&copy {{title}}</p>
</div>
