<div class="footer__bottom">
  <h2 class="pt-md c--primary-light">{{text}}</h2>
  <div class="footer__bottom-social-icons">
		{% include '@molecules/social-icons.twig' %}
  </div>
  <p class="raleway-sm c--primary-light">&copy {{title}}</p>
</div>

{#
<footer class="footer-bottom">
  <h2 class="{{font_style}} {{font_color}}">{{text}}</h2>
  <div class="footer__bottom-social-icons">
		{% include '@molecules/social-icons.twig'%}
  </div>
  <p class="{{font_style2}} {{font_color}}">&copy {{title}}</p>
</footer>
#}
