<!-- Top half of footer that displays contact information with a button to email -->
<div class="footer__top">
  <div class="footer__top-title">
    <h1 class="{{font_style.cormorant.lg}} {{font_color.light}}">{{headline.short}}</h1>
  </div>
  <div class="footer__top-contact">
    <div class="footer__top-contact-info">
      <h2 class="{{font_style.pt.sm}} {{font_color.light}}">{{email}}</h2>
      <h2 class="{{font_style.pt.sn}} {{font_color.light}}">{{phoneNumber}}</h2>
    </div>
    <button class="footer__top-contact-btn {{btn.lg}} {{btn.dark}}">{{word}}</button>
  </div>
</div>
