<div class="footer__top">
  <div class="footer__top-title">
    <h1 class="cormorant-lg c--primary-light">{{headline.short}}</h1>
  </div>
  <div class="footer__top-contact">
    <div class="footer__top-contact-info">
      <h2 class="pt-sm c--primary-light">{{email}}</h2>
      <h2 class="pt-sm c--primary-light">{{phoneNumber}}</h2>
    </div>
    <button class="footer__top-contact-btn btn-lg btn-gold">{{word}}</button>
  </div>
</div>

{#
<div class="footer__top">
  <div class="footer__top-title">
    <h1 class="{{fontStyle}} {{fontColor}}">{{headline.short}}</h1>
  </div>
  <div class="footer__top-contact">
    <div class="footer__top-contact-info">
      <h2 class="{{fontStyle}} {{fontColor}}">{{email}}</h2>
      <h2 class="{{fontStyle}} {{fontColor}}">{{phoneNumber}}</h2>
    </div>
    <button class="footer__top-contact-btn {{btnSize}} {{btnColor}}">{{word}}</button>
  </div>
</div>
#}
