<div class="icon-caption">
  <img src="{{icon.src}}"/>
  <h3 class="pt-md c--primary-dark">{{word}}</h3>
</div>

{#
<div class="icon-caption">
  <img src="{{icon.src}}"/>
  <h3 class="{{font_style}} {{font_color}}">{{word}}</h3>
</div>

#}
