<h1>Header Large Text:</h1><hr>
<h2 class="header__title audimat-lg">{{word}}</h2>
<br><br>

<h1>Header Medium Text:</h1><hr>
<h3 class="header__title audimat-md">{{word}}</h3>
<br><br>

<h1>Header Small Text:</h1><hr>
<p class="header__contact-info audimat-sm">{{email}}</p>
<br><br><br><br>

<h1>HERO Text:</h1><hr>
<h1 class="hero__tagline pt-lg">{{site_slogan}}</h1>
<br><br><br><br>

<h1>QUOTE Text:</h1><hr>
<h3 class="quote cormorant-md">{{excerpt.long}}<span>- {{name.first}} {{name.last}}</span></h3>
