<!-- social icons for footer -->
<div class="social-icons">
  <a href="{{url}}"><i class="fa fa-facebook {{font_color.dark}}"></i></a>
  <a href="{{url}}"><i class="fa fa-instagram {{font_color.dark}}"></i></a>
  <a href="{{url}}"><i class="fa fa-twitter {{font_color.dark}}"></i></a>
</div>
