<div class="social-icons">
  <a href="{{url}}"><i class="fa fa-facebook c--light-grey"></i></a>
  <a href="{{url}}"><i class="fa fa-instagram c--light-grey"></i></a>
  <a href="{{url}}"><i class="fa fa-twitter c--light-grey"></i></a>
</div>

{#
<div class="social-icons">
  <a href="{{url}}"><i class="fa fa-facebook {{icon_color}}"></i></a>
  <a href="{{url}}"><i class="fa fa-instagram {{icon_color}}"></i></a>
  <a href="{{url}}"><i class="fa fa-twitter {{icon_color}}"></i></a>
</div>
#}
