<!-- PT SANS -->
<div class="pt-sans">
  <h3>PT Sans Small Text (20px)</h3><hr>
  <h1 class="pt-sm">{{excerpt.short}}</h1>
  <br><br>
  <h1>PT Sans Medium Text (30px)</h1><hr>
  <h2 class="pt-md">{{headline.short}}</h2>
  <br><br>
  <h1>PT Sans Large Text (60px)</h1><hr>
  <h1 class="pt-lg">{{site_slogan}}</h1>
  <br><br>
</div>
<br><br><br><br>
<!-- Raleway -->
<div class="raleway">
  <h3>Raleway Small Text (18px)</h3><hr>
  <h1 class="raleway-sm">{{excerpt.short}}</h1>
  <br><br>
  <h1>Raleway Medium Text (25px)</h1><hr>
  <h2 class="raleway-md">{{headline.short}}</h2>
  <br><br>
  <h1>Raleway Large Text (35px)</h1><hr>
  <h1 class="raleway-lg">{{site_slogan}}</h1>
  <br><br>
</div>
<br><br><br><br>
<!-- Cormorant -->
<div class="cormorant">
  <h3>Cormorant Small Text (18px)</h3><hr>
  <h1 class="cormorant-sm">{{excerpt.short}}</h1>
  <br><br>
  <h1>Cormorant Medium Text (30px)</h1><hr>
  <h2 class="cormorant-md">{{headline.short}}</h2>
  <br><br>
  <h1>Cormorant Large Text (60px)</h1><hr>
  <h1 class="cormorant-lg">{{site_slogan}}</h1>
  <br><br>
</div>
<br><br><br><br>
<!-- Audimat -->
<div class="audimat">
  <h3>Audimat Small Text (12px)</h3><hr>
  <h1 class="audimat-sm">{{excerpt.short}}</h1>
  <br><br>
  <h1>Audimat Medium Text (25px)</h1><hr>
  <h2 class="audimat-md">{{headline.short}}</h2>
  <br><br>
  <h1>Audimat Large Text (45px)</h1><hr>
  <h1 class="audimat-lg">{{site_slogan}}</h1>
  <br><br>
</div>

<!-- Gold accent  -->
<h1 class="cormorant-lg">{{site_title}}<span class="gold"> {{word}} </span>{{site_title}}.<h1>
