<!-- Full logo with image and name. Displayed on header -->
<div class="logo">
  <h2 class="{{font_color.dark}} {{font_style.audimat.lg}}">{{word}}<span>{% include '@atoms/logo.twig'%}</span>{{word}}</h2>
  <h3 class="{{font_color.dark}} {{font_style.audimat.md}}">{{word}}</h3>
</div>
